.btn {
  padding: 8px 20px;
  border-radius: 4px;
  font-size: 18px;
  color: #fff;
  margin-left: 5px;
  margin-right: 10px;
  text-decoration: none;
}

.loginbtn {
  padding: 10px 22px;
  background-color: #db202c;
}

.loginbtn:hover {
  padding: 8px 20px;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #db202c;
  transition: all 0.4s ease-out;
}

.signupbtn {
  padding: 8px 18px;
  background-color: transparent;
  border: 2px solid #db202c;
}

.signupbtn:hover {
  cursor: pointer;
  background-color: #db202c;
  transition: all 0.4s ease-in;
}
