.movie_banner {
  color: white;
  object-fit: contain;
  height: 550px;
}

.movie_banner--fadeBottom {
  margin-bottom: 0;
  height: 16rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}

.mvrating {
  font-size: 180%;
  color: gold;
  margin-bottom: 4px;
}

.mvstar {
  font-size: 95%;
}

.ytvideo_wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-top: 20px;
  padding-top: 56.25%;
}

.ytwrapperdisplay {
  display: none;
}

.ytvideo_wrapper .ytvideo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.big_moviename {
  color: #db202c;
  margin-top: 10px;
  font-size: 300%;
}

.genrep {
  font-size: 1.5em;
  margin-top: 20px;
  margin-left: 35px;
  color: #db202c;
}

.genresList {
  padding-left: 30px;
}

.list-inline-item {
  display: inline;
}

.genrebtn {
  margin: 5px 10px;
  font-size: 1.2em;
  border: 2px solid #999;
  box-shadow: 5px 5px #999;
  border-radius: 16px;
  background-color: transparent;
  color: #999;
  padding: 14px 24px;
  font-size: 16px;
  cursor: pointer;
}

.genrebtn:hover {
  color: gold;
  border: 2px solid gold;
  transform: translateY(4px);
  box-shadow: 3px 3px #666;
}
.info {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
}

.infotype {
  overflow: hidden;
  margin: 10px 0px;
  width: 32%;
}

.info4 {
  width: 80%;
}

.castList::-webkit-scrollbar {
  display: none;
}
.castList {
  display: flex;
  overflow-y: hidden;
  padding: 10px;
  margin-left: 30px;
  margin-right: 10px;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.castperson {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 550px;
  max-height: 550px;
  margin-right: 20px;
  transition: transform 450ms;
}

.castperson:hover {
  transform: scale(1.1);
}

.castimg {
  max-width: 250px;
  max-height: 250px;
  border-radius: 70%;
}

.castname {
  color: gold;
}

.mt_del {
  margin-top: 0;
}

@media (max-width: 960px) and (min-height: 401px) {
  .ytvideo_wrapper .ytvideo {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .genrep {
    margin-left: 25px;
  }

  .info {
    margin-left: 20px;
  }

  .infotype {
    width: 90%;
    margin: 10px;
  }
}

@media (max-width: 400px) {
  .movie_banner {
    height: 680px;
  }

  .movie_banner--fadeBottom {
    height: 23rem;
  }

  .genrep {
    margin-left: 15px;
  }

  .genresList {
    padding-left: 8px;
  }

  .info {
    margin-left: 10px;
    margin-right: 10px;
  }

  .infotype {
    width: 90%;
    margin: 10px;
    margin-right: 10px;
  }

  .small_overview {
    width: 50px;
  }
}
